<h1>Articles List</h1>

<article>
  <% @articles.each do |article| %>
    <%= article.title %>
  <% end %>
<p>
    <% @articles.each do |article| %>
      <%= article.text %>
    <% end %>
</p>    
<article>
