<h1> Articles List </h1>

<% @articles.each do |article| %>
  <article>
    <p>
      <h2>Title</h2>
      <%= article.title %>
      <h2> Text </h2>
      <%= article.text.split(' ').first(100).join(' ')+'...'%>
      <%= link_to 'more', article_path(article.id) %>
  <article>
<% end %>
    </p>
