/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'rails-uikit-sass';

body {
  min-height: 100vh;
  color: #100800;
}

.uk-icon-mixin {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &, &:hover, &:focus {
    text-decoration: none;
  }
}

header {
  .page-title {
    font-size: 72pt;
    line-height: 84px;
    font-variant: small-caps;
    vertical-align: top;
  }
}

.container {
  background-color: #fffcfa;
  @extend .uk-container;
  @extend .uk-container-center;
  min-height: 100vh;
}

.article-text {
  text-indent: 4em;
}

article.card {
  box-sizing: border-box;
  @extend .uk-width-1-4;

  header {
    font-size: 16pt;
  }

  .article-text {
    overflow: hidden;
  }

  .edit {
    @extend .uk-icon-mixin;
    @extend .uk-icon-edit;
    @extend .uk-text-success;
  }

  .delete {
    @extend .uk-icon-mixin;
    @extend .uk-icon-trash;
    @extend .uk-text-danger;
  }
}

.form-row {
  @extend .uk-form-row;
}
